<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Thông tin tài khoản mới của khách hàng: {{CustomerName}}</title>
</head>
<body>
    Thông tin tài khoản mới của khách hàng: {{CustomerName}}<br />
    Tên tài khoản: {{UserName}}<br />
    Email: {{Email}}<br />
    Mật khẩu: {{Password}}<br />
    Vui lòng quý khách hãy cập nhật mật khẩu mới cho tài khoản của mình ngay khi đăng nhập thành công để đảm bảo an toàn, cũng như tránh những sự cố không đáng có.<br />
</body>
</html>