<!DOCTYPE html>
<html>
<head>
    <title>Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}</title>
</head>
<body>
    Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}<br />
    Điện thoại: {{Phone}}<br />
    Email: {{Email}}<br />
    Địa chỉ: {{Address}}<br />
    Mã giảm giá đã áp dụng: {{DiscountCode}}<br />
    Trị giá: {{Total}}<br />
</body>
</html>