@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .content {
        max-width: 700px;
        margin: auto;
    }

    .product-sec1 {
        max-width: 800px;
        margin: auto;
    }
</style>
<div class="product-sec1 my-4">
    <div class="content px-4 py-2">
        @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
        {
            <div class="form-horizontal">
                <h4>Quên mật khẩu</h4>
                <hr />
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">@ViewBag.Error</div>
                }
                <div class="form-group">
                    <label class="control-label col-md-4">Tên đăng nhập:</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="USERNAME" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Địa chỉ email:</label>
                    <div class="col-md-10">
                        <input class="form-control" type="email" name="EMAIL" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cấp lại mật khẩu" class="btn btn-default" />
                        <a href="/dang-nhap" class="btn btn-success">Trở về</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

