<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>CAS - Computer Accessories Shop</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link href="/Assets/Client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

    <!--auto complete search-->
    <link href="/Assets/Client/css/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
    <!--??auto complete search-->

    <!-- Bootstrap css -->
    <link href="/Assets/Client/css/bootstrap-social.css" rel="stylesheet"  type="text/css" media="all" />
    <link href="/Assets/Client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Main css -->
    <link rel="stylesheet" href="/Assets/Client/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <link href="/Assets/Client/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up-box -->
    <link href="/Assets/Client/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <!-- menu style -->
    <!-- //Custom-Files -->
    <!-- web fonts -->
    @*<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
              rel="stylesheet">*@
    <!-- //web fonts -->

</head>

<body>
    <!-- top-header -->
    @{Html.RenderAction("TopMenu", "Home"); }
    <!-- //top-header -->
    <!-- header-bottom-->
    <div class="header-bot">
        @{Html.RenderAction("HelpMenu", "Home"); }
    </div>
    <!-- shop locator (popup) -->
    <!-- //header-bottom -->
    <!-- navigation -->
    <div class="navbar-inner">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="agileits-navi_search">
                    <div class="agileits-navi_search">
                        @{ Html.RenderAction("ProductCategory", "Product");}
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @{Html.RenderAction("MainMenu", "Home"); }
            </nav>
        </div>

    </div>
    <!-- //navigation -->
    <!-- banner -->
    @RenderSection("banner", required: false)
    <!-- //banner -->
    <!-- top Products -->
    @RenderBody()
    <!-- //top products -->
    <!-- middle section -->
    <div class="join-w3l1 py-sm-5 py-4">
        <div class="logo_agile">
            <h1 class="text-center">
                <a href="/Home/Index" class="font-weight-bold">
                    <img src="" alt="" class="img-fluid">COMPUTER ACCESSORIES SHOP
                </a>
            </h1>
        </div>
    </div>
    <!-- middle section -->
    <!-- footer -->
    @{Html.RenderAction("Footer", "Home"); }
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy-right py-3">
        <div class="container">
            <p class="text-center text-white">
                © Copyright Computer Accessories Shop
            </p>
        </div>
    </div>
    <!-- //copyright -->
    <!-- js-files -->
    <!-- jquery -->
    <script src="/Assets/Client/js/jquery-2.2.3.min.js"></script>

    <!--auto complete search-->
    <script src="/Assets/Client/js/jquery-ui.js"></script>
    <!--//auto complete search-->
    <!-- //jquery -->
    <!-- cart-js -->
    <script src="/Assets/Client/js/controller/minicartController.js"></script>
    <!-- //cart-js -->
    <!-- scroll seller -->
    <script src="/Assets/Client/js/scroll.js"></script>
    <!-- //scroll seller -->
    <!-- smoothscroll -->
    <script src="/Assets/Client/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="/Assets/Client/js/move-top.js"></script>
    <script src="/Assets/Client/js/easing.js"></script>

    <script type="text/javascript">
        function handleSelect(elm) {
            window.location = elm.value;
        }


    </script>

    <script>
        window.onload = function () {
            var selItem = sessionStorage.getItem("SelItem");
            $('#sortitem').val(selItem);
        }

        function handleSelected2(elm) {

            var name = elm.value;
            sessionStorage.setItem("SelItem", name);
            $.ajax({
                url: "/Product/SetSession",
                data: { name: name },
                dataType: "json",
                type: "POST",
                success: function (response) {
                    console.log(response);
                    if (response.status == true) {
                        location.reload();
                    }
                }
            });
        }
    </script>


    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- for bootstrap working -->
    <script src="/Assets/Client/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->
    @*<link href="/Assets/Client/css/fontawesome-all.css" rel="stylesheet" />*@
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Assets/Client/js/controller/baseController.js"></script>

    @RenderSection("jsFooter", required: false)
</body>

</html>