@model List<Model.EF.Menu>
@{
    var session = (Common.UserLogin)Session[Common.CommonConstants.USER_SESSION];
}
<div class="agile-main-top">
    <div class="container-fluid">
        <div class="row main-top-w3l py-2">
            <div class="col-lg-4 header-most-top">
            </div>
            <div class="col-lg-8 header-right text-right mt-lg-0 mt-2">
                <!-- header lists -->

                <ul>
                    @if (session == null)
                    {
                        <li class="text-white text-center" style="float:right">
                            <a href="/dang-ky" class="text-white">
                                <i class="fas fa-sign-out-alt mr-2"></i>Đăng ký
                            </a>
                        </li>
                        <li class="text-white text-center border-right" style="float:right">
                            <a href="/dang-nhap" class="text-white">
                                <i class="fas fa-sign-in-alt mr-2"></i> Đăng nhập
                            </a>
                        </li>
                    }
                    else
                    {

                        <li class="text-white text-center" style="float:right">
                            <a href="/dang-xuat" class="text-white">
                                <i class="fas fa-sign-out-alt mr-2"></i>Đăng xuất
                            </a>
                        </li>
                        <li class="text-white text-center border-right" style="float:right">
                            <a href="/thong-tin-ca-nhan" class="text-white">
                                <i class="fas fa-sign-in-alt mr-2"></i>Xin chào: @session.UserName
                            </a>
                        </li>
                    }
                    <li class="text-white text-center border-right" style="float:right">
                        <i class="fas fa-phone mr-2 "></i> 0919 395 172
                    </li>
                    <li class="text-white text-center border-right" style="float:right">
                        <a href="/lien-he" class="text-white">
                            <i class="fas fa-envelope mr-2"></i> Liên hệ
                        </a>
                    </li>
                </ul>
                <!-- //header lists -->
            </div>
        </div>
    </div>
</div>
