@model Model.EF.Document
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .content {
        max-width: 800px;
        margin: auto;
    }

    .product-sec1 {
        max-width: 900px;
        margin: auto;
    }
</style>
<div class="product-sec1 my-4">
    <div class="content px-4 py-2">
        @Html.Raw(Model.Detail)
    </div>
</div>

