@model Model.EF.Document
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .content {
        max-width: 800px;
        margin: auto;
    }

    .product-sec1 {
        max-width: 900px;
        margin: auto;
    }
</style>

<div class="banner-bootom-w3-agileits py-5">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>Câu</span>
            <span>Hỏi</span>
            <span>Thường</span>
            <span>Gặp</span>
        </h3>
        <div class="product-sec1 my-4">
            <div class="content px-4 py-2">
                @Html.Raw(Model.Detail)
            </div>
        </div>
    </div>
</div>
