@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Báo lỗi
}
<div class="alert alert-danger">
    Bạn không có quyền truy cập chức năng này
</div>